@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
:root{
    --standard-font: 'Open Sans', sans-serif; 
    --standard-border-radius: 4px;
    --standard-border: 1px solid var(--color-border);
    --color-background1: #181818;
    --color-background2: #101010;
    --color-border: #777777;
    --color-main-title: #f7b204;
    --color-bar-hover: #101010;
    --color-text1: #ffffff;
    --color-text2: #bbbbb1;
    --color-text-bar: #777777;
    --color-submit-button: #a71a19;
    --color-submit-button-hover: #a719198d;
    --color-submit-button-text: #f7b204;
    --color-submit-button-text-hover: #f7b204;
    --color-bar-hover: #262525;
  }

*{
  margin: 0;
  padding: 0;
}

.header {
  padding: 30px;
  background-color: var(--color-background2);
  min-width: 510;
}

.header__links{
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.header__links__link {
  text-decoration: none;
  color: var(--color-text2);
  font-size: 1em;
  font-weight: 600;
}

.header__links__link:hover {
  color: white;
}

body {
  background: var(--color-background1);
  color: var(--color-text1);
  font-family: var(--standard-font);
  max-height: 100vh;
}

.content {
  display: flex;
  gap: 100px;
  width: 300px;
  margin: 20px 20px;
  border-right: 1px solid var(--color-border);
}

.form-area {
  display: flex;
  flex-direction: column;  
  gap: 20px;
}

.title {
  width: 280px
}

.title1 {
  color: var(--color-main-title);
}

.form{
  border: 0;
  margin-bottom: 20px;
}

.form__bar{
  background-color: var(--color-background1);
  border: 1px solid var(--color-border);
  border-radius: var(--standard-border-radius);
  min-width: 200px;
  min-height: 1.5em;
  color: var(--color-text-bar);
}

.form__bar:hover{
  background-color: var(--color-bar-hover);
}

#form-rarity{
  color: var(--color-text-bar);
}

.stats{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 20vw;
  flex-wrap: wrap;
}

.stats__checkboxes__checkbox{ /*Substituir esse nome de classe*/
  color: var(--color-text-bar);
  min-width: 200px;
}

.stats__checkboxes__checkbox:hover{/*Substituir esse nome de classe*/
  color: white;
}


.submit__button {
    /* font-size: 1.2em; */
    background-color: var(--color-submit-button);
    color: var(--color-submit-button-text);
    font-family: var(--fonte-principal);
    padding: 0.2% 5%;
    box-shadow: inset -0.1em -0.1em #4c0707;
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
    border-radius: 4px;
    border: 1.25px outset var(--color-submit-button-text);
}

.submit__button:hover {
    background: var(--color-submit-button-hover);
    color: var(--color-submit-button-text-hover);
}

.list-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.list__items {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.list__items__item {   
  display: flex;
  justify-content: space-around;
  border: var(--standard-border);
  border-radius: var(--standard-border-radius);
  width: 300px;
  gap: 20px;
}

.list__items__item:hover{
  background-color: var(--color-bar-hover);
}

li {
  list-style-type: none;
}

.footer {
  top: auto;
  padding: 30px;
  background-color: var(--color-background2);
  color: var(--color-text2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
