:root{
    --standard-font: 'sans serif';
    --color-main-title: #f7b204;
    --color-secondary-text: #bbbbb1;
    --color-standard-text: #ffffff;
  }
  
  *{
    margin: 0;
    padding: 0;
  }
  
  body{
    background: black;
    color: var(--color-standard-text);
    font-family: var(--standard-font);
    max-heigth: 100vh;
  }
  
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-itens: center;
    width: 50vw;
    margin: 10vh 33vw;
    /* background-color: red; */
  }
  
  .title{
    margin: 0px 0px 30px 0;
  }
  
  .main__title{
    color: var(--color-main-title);
  }
  
  .form{
    border: 0;
    margin: 0 0 20px 0;
  }
  
  .form__bar{
    background-color: black;
    border-radius: 8px;
    width: 20vw;
    height: 5vh;
  }
  
  .stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 20vw;
    flex-wrap: wrap;
  }

  li{
    list-style-type: none;
  }
